.menuContainer {
  max-width: 120px;
  width: 100%;
  padding: 10px;
  height: auto;
  background-color: var(--white);
  position: absolute;
  top: 40px;
  right: -85px;
  border-radius: 8px;
  box-shadow: var(--secondary-shadow);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 3;
}

.showMenu {
  opacity: 1;
}
