.taskColumn {
  background-color: var(--light-grey);
  border-radius: 8px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 330px;
  width: 100%;
  box-shadow: var(--secondary-shadow);
}

.title {
  font-size: 16px;
  font-weight: var(--w600);
  margin-bottom: 15px;
}

.inProgressBorder {
  border-top: 8px solid var(--orange);
}

.tasksBorder {
  border-top: 8px solid var(--light-blue);
}

.completedBorder {
  border-top: 8px solid var(--green);
}
