.taskColumn {
  background-color: var(--light-green);
  border-radius: 5px;
  padding: 20px;
  max-width: 300px;
  width: 100%;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 16px;
  font-weight: var(--w600);
  margin-bottom: 15px;
}
