:root {
  /* FONT FAMILY */
  --work-sans: 'Work Sans', sans-serif;

  /* COLORS */
  --light-green: #cbe8e3;
  --light-yellow: #f9ec84;
  --green: #22927e;
  --white: #fff;

  /* FONT WEIGHT */
  --w400: 400;
  --w500: 500;
  --w600: 600;
  --w700: 700;
  --w800: 800;
}
