.taskContent {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  background-color: var(--white);
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

.taskWrapper {
  position: relative;
}

.taskOverlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.15);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 5px;
}

.taskDrop {
  padding: 10px;
}

.taskDropActive {
  border: 1px solid var(--light-yellow);
  border-style: dashed;
  border-radius: 5px;
  height: 54px;
  margin-top: 10px;
}
