.tasksListWrapper {
  margin-top: 20px;
}

.taskContent {
  display: flex;
  gap: 10px;
  padding: 15px;
  background-color: var(--white);
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: var(--main-shadow);
}

.taskContainer {
  position: relative;
}

.taskWrapper {
  position: relative;
}

.taskOverlay {
  position: absolute;
  background-color: rgba(245, 245, 245, 0.5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 8px;
}

.taskDrop {
  padding: 10px;
}

.taskDropActive {
  border: 1px solid var(--orange);
  border-style: dashed;
  border-radius: 8px;
  height: 54px;
  margin-top: 10px;
  background-color: var(--light-grey);
}

.taskTitle {
  word-break: break-all;
  font-size: 14px;
  font-weight: var(--w400);
  display: flex;
  align-items: center;
  width: 100%;
}
