.container {
  padding: 50px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  background-image: url('../../../shared/images/bg.jpeg');
}
